public/bower_components
public/producer/dist
public/herd/dist
public/control-center
modules/**/node_modules
modules/**/dev
rateplan/ho_rates/**/data
modules/raters/**/v1
modules/raters/**/v2
modules/raters/**/v3
modules/raters/**/v4
modules/raters/**/v5
modules/raters/**/v6
modules/raters/**/v7
modules/raters/**/data
coverage/
scripts/**/*.js
!scripts/ivans/**/*.js
modules/*/node_modules
tmp
logs
dev
**/node_modules
